footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    line-height: 37px;
    text-align: center;
    font-weight: bold;
    background-color: grey;
    border-top: 3px solid black;
}